body {
    background-color: #fafafa;
    text-align: center;
    font-family: Arial, sans-serif;
}

.area {
    position: relative;
    width: 300px;
    margin: 60px auto;
}

/* Vazo */
#vazo {
    width: 200px;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

/* Kokina */
#kokina {
    width: 220px;
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%) translateY(80px) scale(0);
    transition: all 0.7s ease;
    z-index: 1;
}

/* Animasyonla çıkma */
.show {
    transform: translateX(-50%) translateY(0) scale(1);
}

