body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    position: relative;
    width: 300px;
    margin: 50px auto;
}

/* Vazo */
#vase {
    width: 200px;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

/* Kokina */
#bouquet {
    width: 200px;
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%) scale(0);
    transition: 0.6s ease;
    z-index: 1;
}

/* Görünür olunca */
.show {
    transform: translateX(-50%) scale(1);
}
